{% extends "layout.html" %}

{% block title %} FÄCHER {% endblock %}

{% block content %}

<header>
<h2> Wähle deine Lehrveranstaltungen {{ major.major_name }} 📓 </h2>
</header>
<br />
<body>
<div class="cards">
   {% for subject in major.subject_set.all %}
    <div class = "card">
        <header>  <a href="{% url 'courses' major.major_name subject.title %}"> {{ subject.title }}</a> </header>
        <div class="card-copy">
        {{ major.major_name }} <br />
        </div>
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}
