{% extends "layout.html" %}
{% block title %} LV Tool {% endblock title %}
{% block content %}
<header>
   <h1> Welcome! </h1>
</header>
<body>
<div class="b">
<img src="/static/assets/people.jpg" width="700" height="500">
</div>

<p>
Das Tool soll als unterstützendes Programm für Studenten/Studentinnen fungieren und bietet
Kalendarvorschläge für eine optimale Semesterauslastung an.
</p>
<h2><a href="/accounts/signup/">Sign-Up</a> </h2>
<h2><a href="/accounts/login/">Login</a></h2>
<footer>
<div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>;
<a href="https://www.freepik.com/free-photos-vectors/school">School vector created by pikisuperstar - www.freepik.com</a></div>
</footer>
</body>
{% endblock content %}
