{% load static %}

<!doctype html>
<html>
    <head>
        <title> {% block title %} Well hello there {% endblock title %}  </title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    </head>
    <header>
        <a href="/">Home</a>
         <a href="{% url 'students' %}">Studenten</a>
         <a href="{% url 'list' %}">Studienrichtungen</a>
        <a href="{% url 'suggestion' %}">Feedback</a>
        <a href="{% url 'createmajor' %}">Studium hinzufügen</a>
        <a href="{% url 'createsubject' %}">Fach hinzufügen </a>
    </header>
    <body class="lvtool">
        {% block content %} {% endblock content %}
        {% if messages %}
        {% for message in messages %}
        <div data-alert class="alert-box {{ message.tags }} radius">
            {{ message }}
            <a href="/" class="close">&times;</a>
        </div>
    {% endfor %}
    {% endif %}
    </body>
</html>